* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #999;
}

ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", serif;
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.weight-thin {
  font-weight: 100;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-heavy {
  font-weight: 700;
}

.weight-black {
  font-weight: 900;
}
